.footer-wrapper {
    margin: 30px 0;
}
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.name-link:hover {
    color: #00ffc2;
}
.description {
    margin: 0;
    padding: 10px 0;
    color: #c4cee9;
    text-align: center;
}
.logo {
    width: 35px;
    margin: 0;
}

.back-to-top {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: linear-gradient(47deg, rgb(118, 227, 202) 0%, rgba(44, 156, 253, 1) 100%);
    font-weight: bolder;
    color: #0a192f;
    cursor: pointer;
    border-radius: 100px;
    border: none;
    z-index: 10000;
}

.back-to-top:hover {
    background: rgb(44, 117, 253);
    background: linear-gradient(47deg, rgba(44, 117, 253, 1) 0%, rgba(88, 255, 215, 1) 100%);
}

.socialmeadia-icons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.socialmeadia-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 0px 10px;
    transition-duration: 0.5s;
}

/* =========================== Media query breakpoints ========================== */

/* sm, small: 600px */
@media (min-width: 600px) {
}
/* md, medium: 900px */
@media (min-width: 900px) {
    .back-to-top {
        bottom: 10px;
        right: 40px;
    }
}
/* lg, large: 1200px */
@media (min-width: 1200px) {
}

/* xl, extra-large: 1536px */
@media (min-width: 1536px) {
}
