.blog-wrapper {
    margin-bottom: 50px;
}
.main-container {
    position: relative;
}

.bar {
    position: relative;
}
.bar::after {
    content: ' ';
    width: 50px;
    height: 3px;
    background-color: #c4cee9;
    position: absolute;
    top: 35px;
    right: -45px;
}
.container {
    /* height: 200px; */
    padding: 15px;
    /* border-top: 4px solid rebeccapurple; */
    border-radius: 5px;
    box-shadow: -1px 3px 14px 0px rgba(0, 0, 0, 0.75);
}
.topic {
    display: inline-block;
    color: orangered;
    font-size: 20px;
    padding-bottom: 5px;
}
.sub-heading {
    margin: 0;
    color: whitesmoke;
}
.description {
    color: #c4cee9;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.read-more {
    /* float: right; */
    /* display: inline-block; */
    cursor: pointer;
    margin: 0;
    color: #00ffc2;
    text-decoration: underline;
    text-align: right;
}

/* =========================== Media query breakpoints ========================== */

/* sm, small: 600px */
@media (min-width: 600px) {
    .bar::after {
        width: 80px;
        top: 45px;
        right: -75px;
    }
}
/* md, medium: 900px */
@media (min-width: 900px) {
    .heading {
        position: absolute;
        top: -12px;
        transform: rotate(90deg);
    }
    .bar::after {
        top: 55px;
        right: -65px;
    }
}
/* lg, large: 1200px */
@media (min-width: 1200px) {
}

/* xl, extra-large: 1536px */
@media (min-width: 1536px) {
}
